{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">
	<div class="row">
		<h1>Estatus de Venta</h1>
		<button type="button" class="btn btn-primary" onclick="nuevoEstatus()"><i class="fa fa-plus-circle" aria-hidden="true"> <span>Nuevo</span></i></button>
		<table id='estatus' data-toggle="table" data-search="true" data-show-export="true" data-page-size="20" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true" data-mobile-responsive="true" data-sortable="true">
			<thead>
				<tr>
					<th data-sortable="true">Id</th><th data-sortable="true">Descripción</th>
				</tr>
			</thead>
			<tbody>
				{% for opcion in estatus %}
				<tr>
					<td>{{ opcion.estatusId|e }}</td>
					<td>{{ opcion.descripcion|e }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<input type="hidden" name="estatusActual">
	</div>
</div>

<div id="modal-nueva" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="modal-titulo" class="modal-title">Crear estatus</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<form role="form">
	  						<div class="form-group">
								<label>Descripción <input type="text" class="form-control col-lg-3" name="descripcion"></label>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success"><i class="fa fa-cloud" aria-hidden="true" onclick="guardarestatus($('form').serializeJSON())"> <span>Guardar</span></i></button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
$('table').on('dbl-click-row.bs.table', function ( row, element ) {
	if($(this).attr('id') == 'estatus') {
		//$('#asignados').bootstrapTable('refresh', { url: '{{constant('BASE_URL')}}/expedientes/index/apiAsignados/estatus/' + element[0] });
		//$('#modal-contratos').modal('show');
	}
});

function nuevoEstatus() {
	$('#modal-nueva').modal('show');
}

function guardarestatus(form) {
	loader.show();
	sincco.consumirAPI('POST',BASE_URL + 'catalogos/estatus/api',{estatus:form})
	.done(function(data) {
		loader.hide();
		if (data.respuesta) {
			window.location = BASE_URL + 'catalogos/estatus';
		} else {
			toastr.error('Error al hacer la petición de acceso.', 'Intenta de nuevo');
		}
	}).fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
		toastr.error('Error al hacer la petición de acceso.', 'Intenta de nuevo');
		loader.hide();
	})
}

function imprimirFormatos() {
	var contratos = $('#asignados').bootstrapTable('getSelections');
	var ids = [];
	$(contratos).each(function(){
		ids.push(this.contrato);
	})
	$.redirect(BASE_URL + 'gestion/formatos/imprimir',{ contratos: ids}, 'POST', '_blank'); 
}

</script>

{% include 'footer.html' %}