{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">
	<div class="row">
		<h1>Expedientes</h1>
		<button type="button" class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true" onclick="muestraCuadrillas()"> <span>Asignar contratos</span></i></button>
		<table id="contratos" data-toggle="table" data-search="true" data-show-export="true" data-page-size="20" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true" data-mobile-responsive="true" data-sortable="true" data-url="{{constant('BASE_URL')}}/expedientes/index/apiData" data-side-pagination="server" data-pagination-loop="true" data-search-on-enter-key="true" data-show-refresh="true">
			<thead>
				<tr>
					<th data-checkbox="true"></th>
					<th data-sortable="true" data-field="contrato">Contrato</th>
					<th data-sortable="true" data-field="propietario">Propietario</th>
					<th data-sortable="true" data-field="usuario">Usuario</th>
					<th data-sortable="true" data-field="municipio">Municipio</th>
					<th data-sortable="true" data-field="via">Via</th>
					<th data-sortable="true" data-field="calle">Calle</th>
					<th data-sortable="true" data-field="colonia">Colonia</th>
					<th data-sortable="true" data-field="estatus">Estatus</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<div id="modal-adjuntos" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="modal-titulo" class="modal-title">Detalle del contrato</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-6">
						<h4>Historial</h4>
						<div class="row">
							<ul class="historial"></ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<h4>Imágenes</h4>
						<div class="row adjuntos"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modal-cuadrillas" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="modal-titulo" class="modal-title">Asignar contratos a la cuadrilla</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<label>Cuadrilla 
							<select class="form-control col-lg-8" name="cuadrilla">
								{% for cuadrilla in cuadrillas %}
								<option value="{{ cuadrilla.cuadrilla|e }}">{{ cuadrilla.descripcion|e }}</option>
								{%endfor %}
							</select>
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success"><i class="fa fa-cloud " aria-hidden="true" onclick="asignarContratos()"> <span>Asignar</span></i></button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$('table').on('dbl-click-row.bs.table', function ( row, element ) {
	$('.adjuntos').html('');
	sincco.consumirAPI('POST', BASE_URL + 'expedientes/index/apiadjuntos', {contrato:element.contrato})
	.done(function(data) {
		if(data.respuesta > 0){
			var index = 0;
			data.adjuntos.forEach(function(adjunto){
				index++;
				var url = BASE_URL + '_expedientes/' + element.contrato + '/' + adjunto;
				if(extension(adjunto).toLowerCase() == 'pdf') {
					var imagen = '<div class="col-xs-4"><a href="' + url + '" target="_blank" style="font-size:2em;" class="thumbnail"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></div>';
				} else {
					var titulo = adjunto.substring(1,100).replace('-',' ');
					var imagen = '<div class="col-xs-6 col-md-4"><div class="thumbnail"><img src="' + url + '" alt="' + adjunto + '"><div class="caption"><h5>' + titulo + '</h5><p><a href="' + url + '" target="_blank" class="btn btn-primary" role="button"><i class="fa fa-eye" aria-hidden="true"></i> Ver</a> <a href="' + url + '" download="' + element.contrato + '-' + titulo + '" class="btn btn-default" role="button"><i class="fa fa-download" aria-hidden="true"></i> Descargar</a></p></div></div></div>';
				}
				$('.adjuntos').html($('.adjuntos').html() + imagen);
			});
			$( '#modal-adjuntos' ).modal( 'show' );
		}
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer la petición del código.', 'Intenta de nuevo');
	});
});

function extension(filename) {
	return filename.split('.').pop();
}

function muestraCuadrillas() {
	$('#modal-cuadrillas').modal('show');
}

function asignarContratos() {
	sincco.consumirAPI('POST', BASE_URL + 'expedientes/index/apiasignar', {contratos: $('#contratos').bootstrapTable('getSelections'), cuadrilla: $('[name=cuadrilla]').val()})
	.done(function(data) {
		toastr.success('Contratos asignados.', 'Éxito');
		$('#modal-cuadrillas').modal('hide');
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer la petición del código.', 'Intenta de nuevo');
	});
}

</script>


{% include 'footer.html' %}