{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">
	<div class="row">
		<h1>Lecturas</h1>
		<table id='lectura' data-toggle="table" data-search="true" data-show-export="true" data-page-size="20" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true" data-mobile-responsive="true" data-sortable="true">
			<thead>
				<tr>
					<th data-sortable="true">Contrato</th>
					<th data-sortable="true">Fecha</th>
					<th data-sortable="true">Lectura</th>
					<th data-sortable="true">Imagen</th>
				</tr>
			</thead>
			<tbody>
				{% for lectura in lecturas %}
				<tr>
					<td>{{ lectura.contrato|e }}</td>
					<td>{{ lectura.fechaLectura|e }}</td>
					<td>{{ lectura.lecturaMedidor|e }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% include 'footer.html' %}