{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">
	<div class="row">
		<h1>Contratos Vendidos</h1>
		<button type="button" class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true" onclick="muestraCuadrillas()"> <span>Asignar a cuadrillas</span></i></button>

		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class='col-xs-1'>
						Desde
					</div>
					<div class='col-xs-3'>
						<div class="form-group">
						<div class='input-group date' id='fecha-inicio'>
						<input type='text' class="form-control" id="fechaInicio" value="{{desde}}" />
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
						</span>
						</div>
						</div>
					</div>
					<div class='col-xs-1'>
						Hasta
					</div>
					<div class='col-xs-3'>
						<div class="form-group">
						<div class='input-group date' id='fecha-fin'>
						<input type='text' class="form-control" id="fechaFin" value="{{hasta}}"/>
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
						</span>
						</div>
						</div>
					</div>
					<div class='col-xs-4'>
						<button type="button" class="btn btn-success" onclick="jQuery.redirect(BASE_URL + 'ventas/contratos/vendidos', { 'fechaInicio': $('#fechaInicio').val(), 'fechaFin': $('#fechaFin').val() });">Filtrar</button>
					</div>
				</div>
			</div>
		</div>

		<table data-toggle="table" data-search="true" data-show-export="true" data-page-size="20" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true" data-mobile-responsive="true" data-sortable="true" id="contratos">
			<thead>
				<tr>
					<th data-checkbox="true"></th><th data-sortable="true" data-field="contrato">Contrato</th><th data-sortable="false">Alta</th><th data-sortable="false">Propietario</th><th data-sortable="false">Suministro</th><th data-sortable="false">Tarifa</th><th data-sortable="false">Direccion</th><th data-sortable="true">Colonia</th><th data-sortable="true">Municipio</th><th data-sortable="true">Fecha solicitada</th><th data-sortable="true">Horario solicitado</th><th>Cuadrilla</th>
				</tr>
			</thead>
			<tbody>
				{% for contrato in contratos %}
				<tr>
					<td></td>
					<td>{{ contrato.contrato|e }}</td>
					<td>{{ contrato.altaContrato|e }}</td>
					<td>{{ contrato.propietario|e }}</td>
					<td>{{ contrato.suministro|e }}</td>
					<td>{{ contrato.tarifa|e }}</td>
					<td>{{ contrato.direccion|e }}</td>
					<td>{{ contrato.colonia|e }}</td>
					<td>{{ contrato.municipio|e }}</td>
					<td>{{ contrato.fechaInstalacion|e }}</td>
					<td>{{ contrato.horarioInstalacion|e }}</td>
					<td>{{ contrato.cuadrilla|e }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div id="modal-carga" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="modal-titulo" class="modal-title">Carga de layout</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
  						<div class="fileUpload btn btn-default">
							<label>Archivo</label><input type="file" class="upload" name="carga-contratos-{{ "now"|date("Ymd") }}" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="upload" type="button" class="btn btn-success"><i class="fa fa-cloud" aria-hidden="true"> <span>Guardar</span></i></button>
			</div>
		</div>
	</div>
</div>

<div id="modal-vendedores" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="modal-titulo" class="modal-title">Asignar contratos al vendedor</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<label>vendedor 
							<select class="form-control col-lg-8" name="vendedor">
								{% for vendedor in vendedores %}
								<option value="{{ vendedor.vendedorId|e }}">{{ vendedor.nombre|e }}</option>
								{%endfor %}
							</select>
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success"><i class="fa fa-cloud " aria-hidden="true" onclick="asignarContratos()"> <span>Asignar</span></i></button>
			</div>
		</div>
	</div>
</div>

<div id="modal-info" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="modal-titulo" class="modal-title">Contrato <span></span></h3>
			</div>
			<div class="modal-body">

				<div class="row">
					<div class="col-xs-12">
						<h4>Datos del contrato</h4>
						<div class="row">
							<div class="col-lg-6">
								<label>Propiertario: <span data-fields="propietario"></span></label>
							</div>
							<div class="col-lg-6">
								<label>Usuario: <span data-fields="usuario"></span></label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<label>Suministro: <span data-fields="suministro"></span></label>
							</div>
							<div class="col-lg-4">
								<label>numTomas: <span data-fields="numTomas"></span></label>
							</div>
							<div class="col-lg-4">
								<label>GPS: <span data-fields="gps"></span></label><button type="button" class="btn btn-warning"><i class="fa fa-map" aria-hidden="true" onclick=""> <span>Ubicar</span></i></button>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<label>Direccion: <span data-fields="direccion"></span></label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h4>Visita</h4>
								<div class="row">
									<div class="col-md-6">
										<label>Nombre: <span data-fields="clienteNombre"></span></label>
									</div>
									<div class="col-md-6">
										<label>Teléfono: <span data-fields="clienteTelefono"></span></label>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<label>Correo: <span data-fields="clienteCorreo"></span></label>
									</div>
									<div class="col-md-6">
										<label>Fecha de visita: <span data-fields="fechaVisita"></span></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Fecha preferida para instalación: <span data-fields="fechaInstalacion"></span></label>
							</div>
							<div class="col-md-6">
								<label>Horario preferida para instalación: <span data-fields="horarioInstalacion"></span></label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label>Diametro Medidor: <span data-fields="diametroMedidor"></span></label>
							</div>
							<div class="col-md-4">
								<label>Ubicación Cuadro: <span data-fields="ubicacionMedidor"></span></label>
							</div>
							<div class="col-md-4">
								<label>Material Medidor: <span data-fields="materialMedidor"></span></label>
							</div>
							<div class="col-md-4">
								<label>Uso Toma: <span data-fields="usoToma"></span></label>
							</div>
							<div class="col-md-4">
								<label>Observaciones: <span data-fields="observaciones"></span></label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<h4>Imágenes de visita</h4>
						<div class="row adjuntos"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modal-cuadrillas" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="modal-titulo" class="modal-title">Asignar contratos a la cuadrilla</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<label>Cuadrilla 
							<select class="form-control col-lg-8" name="cuadrilla">
								{% for cuadrilla in cuadrillas %}
								<option value="{{ cuadrilla.cuadrilla|e }}">{{ cuadrilla.descripcion|e }}</option>
								{%endfor %}
							</select>
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success"><i class="fa fa-cloud " aria-hidden="true" onclick="asignarCuadrillas()"> <span>Asignar</span></i></button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">

$(function(){
	$('#fecha-fin').datetimepicker({
		format: 'YYYY-MM-DD'
	});
	$('#fecha-inicio').datetimepicker({
		useCurrent: true,
		format: 'YYYY-MM-DD'
	});
	$("#fecha-inicio").on("dp.change", function (e) {
		$('#fecha-fin').data("DateTimePicker").minDate(e.date);
		$('#fecha-fin').data("DateTimePicker").date(e.date);
	});
	$("#fecha-fin").on("dp.change", function (e) {
		$('#fecha-inicio').data("DateTimePicker").maxDate(e.date);
	});
})

$('table').on('dbl-click-row.bs.table', function ( row, element ) {
	loader.show();
	$('.modal-title span').html(element[1]);
	$('.adjuntos').html('');
	buscarContrato(element.contrato);
	buscarAdjuntos(element.contrato);
	loader.hide();
	$('#modal-info').modal('show');
});

var uploadControl = new Resumable({
	target: BASE_URL + 'files/upload',
	query: {},
	maxChunkRetries: 2,
	maxFiles: 10,
	prioritizeFirstAndLastChunk: true,
	simultaneousUploads: 4
});

uploadControl.on('fileAdded', function (file, name, event) {
	file.fileName = name + '.' + file.fileName.split('.').pop();
	console.log('IMAGEN AGREGADA',file.uniqueIdentifier, file.fileName, file.file.type)
});

uploadControl.on('fileProgress', function (file) {
	var progress = Math.floor(file.progress() * 100);
	console.log(progress);
});

uploadControl.on('fileSuccess', function (file, message) {
	console.log(file.uniqueIdentifier);
});

uploadControl.on('uploadStart', function () {
	console.log('CARGANDO...');
	loader.show();
});

uploadControl.on('complete', function () {
	console.log('completo...')
	sincco.consumirAPI('POST','{{constant('BASE_URL')}}ventas/contratos/procesararchivo')
	.done(function(data) {
		toastr.success('Archivo cargado insertados ' + data.insertados + ' de ' + data.total, 'Éxito');
		location.reload();
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al procesar el archivo.', 'Intenta de nuevo');
	})
	loader.hide();
});

$('#upload').click(function() {
	uploadControl.upload();
});

$('.upload').change(function() {
	$(this).parent().removeClass('btn-default');
	$(this).parent().addClass('btn-info');
	uploadControl.addFile(this.files[0], this.name);
});

function asignarContratos() {
	sincco.consumirAPI('POST', BASE_URL + 'ventas/contratos/apiasignar', {contratos: $('#contratos').bootstrapTable('getSelections'), vendedor: $('[name=vendedor]').val()})
	.done(function(data) {
		toastr.success('Contratos asignados.', 'Éxito');
		$('#modal-vendedores').modal('hide');
		location.reload();
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer la petición del código.', 'Intenta de nuevo');
	});
}

function buscarContrato(contrato) {
	$('[data-fields=propietario]').html('');
	$('[data-fields=usuario]').html('');
	$('[data-fields=suministro]').html('');
	$('[data-fields=numTomas]').html('');
	$('[data-fields=direccion]').html('');
	$('[data-fields=gps]').html('');
	$('[data-fields=serieMedidor]').html('');
	$('[data-fields=telemetriaMedidor]').html('');
	$('[data-fields=clienteCorreo]').html('');
	$('[data-fields=clienteTelefono]').html('');
	$('[data-fields=clienteNombre]').html('');
	$('[data-fields=fechaVisita]').html('');
	$('[data-fields=fechaInstalacion]').html('');
	$('[data-fields=horarioInstalacion]').html('');
	$('[data-fields=diametroMedidor]').html('');
	$('[data-fields=ubicacionMedidor]').html('');
	$('[data-fields=materialMedidor]').html('');
	$('[data-fields=usoToma]').html('');
	$('[data-fields=observaciones]').html('');
	sincco.consumirAPI('POST', BASE_URL + 'ventas/visita/apigetcontrato', {contrato:contrato})
	.done(function(data) {
		if (data.total) {
			$(data.rows).each(function(){
				$('[data-fields=propietario]').html(this.propietario);
				$('[data-fields=usuario]').html(this.usuario);
				$('[data-fields=suministro]').html(this.suministro);
				$('[data-fields=numTomas]').html(this.numTomas);
				$('[data-fields=direccion]').html(this.direccion + ', ' + this.colonia + ' ' + this.municipio);
				$('[data-fields=serieMedidor]').html(this.serieMedidor);
				$('[data-fields=telemetriaMedidor]').html(this.telemetriaMedidor);
				$('[data-fields=clienteCorreo]').html(this.clienteCorreo);
				$('[data-fields=clienteTelefono]').html(this.clienteTelefono);
				$('[data-fields=clienteNombre]').html(this.clienteNombre);
				$('[data-fields=fechaVisita]').html(this.fechaVisita);
				$('[data-fields=fechaInstalacion]').html(this.fechaInstalacion);
				$('[data-fields=horarioInstalacion]').html(this.horarioInstalacion);
				$('[data-fields=diametroMedidor]').html(this.diametroMedidor);
				$('[data-fields=ubicacionMedidor]').html(this.ubicacionMedidor);
				$('[data-fields=materialMedidor]').html(this.materialMedidor);
				$('[data-fields=usoToma]').html(this.usoToma);
				$('[data-fields=observaciones]').html(this.observaciones);
			})
		} else {
			toastr.error('El contrato no existe.', 'Intenta de nuevo');
		}
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer obtener los datos del contrato.', 'Intenta de nuevo');
	});
}

function buscarAdjuntos(contrato) {
	sincco.consumirAPI('POST', BASE_URL + 'expedientes/index/apiadjuntosventas', {contrato:contrato})
	.done(function(data) {
		if(data.respuesta > 0){
			var index = 0;
			data.adjuntos.forEach(function(adjunto){
				index++;
				var url = BASE_URL + '_expedientes/' + contrato + '/' + adjunto;
				if(extension(adjunto).toLowerCase() == 'pdf') {
					var imagen = '<div class="col-xs-4"><a href="' + url + '" target="_blank" style="font-size:2em;" class="thumbnail"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></div>';
				} else {
					var titulo = adjunto.substring(1,100).replace('-',' ');
					var imagen = '<div class="col-xs-12 col-md-4"><div class="thumbnail"><img src="' + url + '" alt="' + adjunto + '"><div class="caption"><h5 style="text-transform: capitalize;">' + titulo.replace('.jpg','').replace('.gif','').replace('.png','').replace('.jpeg','') + '</h5><p><a href="' + url + '" target="_blank" class="btn btn-primary" role="button"><i class="fa fa-eye" aria-hidden="true"></i> Ver</a> <a href="' + url + '" download="' + contrato + '-' + titulo + '" class="btn btn-default" role="button"><i class="fa fa-download" aria-hidden="true"></i> Descargar</a></p></div></div></div>';
				}
				$('.adjuntos').html($('.adjuntos').html() + imagen);
			});
		}
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.warning('Este contrato aún no tiene imagenes cargadas.', '');
	});
}

function extension(filename) {
	return filename.split('.').pop();
}

function muestraCuadrillas() {
	$('#modal-cuadrillas').modal('show');
}

function asignarCuadrillas() {
	sincco.consumirAPI('POST', BASE_URL + 'expedientes/index/apiasignar', {contratos: $('#contratos').bootstrapTable('getSelections'), cuadrilla: $('[name=cuadrilla]').val()})
	.done(function(data) {
		toastr.success('Contratos asignados.', 'Éxito');
		$('#modal-cuadrillas').modal('hide');
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer la petición del código.', 'Intenta de nuevo');
	});
}

</script>

{% include 'footer.html' %}