{% include 'header.html' %}
{% include 'menu.html' %}
<script type="text/javascript" src="{{ constant('BASE_URL') }}html/js/qrbc/webcodecamjquery.js"></script>
<script type="text/javascript" src="{{ constant('BASE_URL') }}html/js/qrbc/qrcodelib.js"></script>

<div class="container">
	<div class="row">
		<h1>Visita de venta</h1>
		<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
					<input type="text" name="contrato" class="form-control" placeholder="Contrato...">
					<span class="input-group-btn">
						<button class="btn btn-default camera" type="button" onclick="$('#qrResult').attr('data-destiny','contrato'); $('#modal-qr').modal('show');decoder.play();"><i class="fa fa-camera" aria-hidden="true"> <span></span></i></button>
						<button class="btn btn-primary" type="button" onclick="buscarContrato()">Buscar</button>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row rowContrato">
		<h4>Datos del contrato</h4>
		<div class="row">
			<div class="col-lg-6">
				<label>Propiertario: <span data-field="propietario"></span></label>
			</div>
			<div class="col-lg-6">
				<label>Usuario: <span data-field="usuario"></span></label>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<label>Suministro: <span data-field="suministro"></span></label>
			</div>
			<div class="col-lg-3">
				<label>numTomas: <span data-field="numTomas"></span></label>
			</div>
			<div class="col-lg-3">
				<label>Giro: <span data-field="giro"></span></label>
			</div>
			<div class="col-lg-3">
				<label>GPS: <span data-field="gps"></span></label>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<label>Direccion: <span data-field="direccion"></span></label>
			</div>
		</div>
		<form id="datosVisita">
			<div class="row">
				<h4>Estatus Visita</h4>
				<div class="col-lg-12">
					<select class="form-control col-lg-10" name="estatus">
						{% for opcion in estatus %}
						<option value="{{ opcion.estatusId|e }}">{{ opcion.descripcion|e }}</option>
						{%endfor %}
					</select>
				</div>
			</div>
			<div class="row">
				<h4>Cliente</h4>
				<div class="col-lg-6">
					<label>Nombre: <input type="text" name="clienteNombre" class="form-control col-lg-6" aria-describedby="sizing-addon2" placeholder="Atendió"></label>
				</div>
				<div class="col-lg-6">
					<label>Telefono: <input type="text" name="clienteTelefono" class="form-control col-lg-6" aria-describedby="sizing-addon2" placeholder="Teléfono"></label>
				</div>
				<div class="col-lg-6">
					<label>Correo electrónico: <input type="text" name="clienteCorreo" class="form-control col-lg-6" aria-describedby="sizing-addon2" placeholder="Correo"></label>
				</div>
			</div>
		</form>
	</div>

	<form name="imagenes">
		<div class="row rowImagenes">
			<h4>Cargar imágenes de visita</h4>
			<div class="row">
				<div class="col-xs-6 col-md-4 col-lg-2">
					<div class="fileUpload btn btn-default">
						<i class="fa fa-camera"> <span>Fachada</span></i>
						<input type="file" class="upload" name="venta-1-fachada" />
					</div>
				</div>
				<div class="col-xs-6 col-md-4 col-lg-2">
					<div class="fileUpload btn btn-default">
						<i class="fa fa-camera"> <span>Cuadro</span></i>
						<input type="file" class="upload" name="venta-2-cuadro" />
					</div>
				</div>
				<div class="col-xs-6 col-md-4 col-lg-2">
					<div class="fileUpload btn btn-default">
						<i class="fa fa-camera"> <span>Formato</span></i>
						<input type="file" class="upload" name="venta-3-formato" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-4 col-lg-2">
					<button id="upload" type="button" class="btn btn-success"><i class="fa fa-cloud" aria-hidden="true"> <span>Guardar Visita</span></i></button>
				</div>
			</div>
		</div>
	</form>
</div>

<div id="modal-qr" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="decoder.stop();">&times;</button>
				<h4 id="modal-titulo" class="modal-title">Leer QR</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<div id="mainbody">
							<select id="qrCamera" class="form-control center-block"></select>
							<canvas id="qrVideo" class="center-block"></canvas>
							<ul></ul>
							<input type="hidden" id="qrResult" data-destiny="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

var arg = {
	resultFunction: function(result) {
		$('[name=' + $("#qrResult").attr('data-destiny') + ']').val(result.code);
		var supportsVibrate = "vibrate" in navigator;
		navigator.vibrate(250);
		$('#modal-qr').modal('hide');
		decoder.stop();
	}
};
var decoder  = $('#qrVideo').WebCodeCamJQuery(arg).data().plugin_WebCodeCamJQuery;
decoder.buildSelectMenu('#qrCamera');
$('#qrCamera').on('change', function(){
	decoder.stop().play();
});

$(function() {
	$('.rowImagenes').hide();
	$('.rowContrato').hide();
	$('.proceso').hide();

	$('.upload').change(function() {
		$(this).parent().removeClass('btn-default');
		$(this).parent().addClass('btn-info');
	});

	$('#upload').click(function() {
		loader.show();
		var form_data = new FormData();
		$('.upload').each(function() {
			form_data.append('file[' + $(this).attr('name') + ']', $(this).prop('files')[0]);
		});
		$.ajax({
			url: BASE_URL + 'ventas/visita/apiupload/contrato/' + $('[name=contrato]').val(),
			dataType: 'text',
			cache: false,
			contentType: false,
			processData: false,
			data: form_data,                         
			type: 'post',
			success: function(response){
				var api = JSON.parse(response);
				if (api.respuesta) {
					sincco.consumirAPI('POST','{{constant('BASE_URL')}}ventas/visita/apiguardar/contrato/' + $('[name=contrato]').val(),$('#datosVisita').serializeJSON())
					.done(function(data) {
						if (data.respuesta) {
							toastr.success('Visita registrada');
							location.reload();
						} else {
							toastr.error('Error al guardar la visita.', 'Intenta de nuevo');	
						}
					}).fail(function(jqXHR, textStatus, errorThrown) {
						toastr.error('Error al guardar la visita.', 'Intenta de nuevo');
					})
				} else {
					toastr.error('Error al subir imagenes.', 'Intenta de nuevo');
				}
				loader.hide();
			}
		});
	});
});

function buscarContrato() {
	loader.show();
	$('.rowImagenes').hide();
	$('.rowContrato').hide();
	$('[data-field=propietario]').html('');
	$('[data-field=usuario]').html('');
	$('[data-field=suministro]').html('');
	$('[data-field=numTomas]').html('');
	$('[data-field=direccion]').html('');
	$('[data-field=gps]').html('');
	$('[data-field=giro]').html('');
	sincco.consumirAPI('POST', BASE_URL + 'ventas/visita/apigetcontrato', {contrato:$('[name=contrato]').val()})
	.done(function(data) {
		if (data.total) {
			$('.rowImagenes').show();
			$('.rowContrato').show();
			$(data.rows).each(function(){
				$('[data-field=propietario]').html(this.propietario);
				$('[data-field=usuario]').html(this.usuario);
				$('[data-field=suministro]').html(this.suministro);
				$('[data-field=numTomas]').html(this.numTomas);
				$('[data-field=direccion]').html(this.direccion + ', ' + this.colonia + ' ' + this.municipio);
				$('[data-field=giro]').html(this.giro);
				$('[data-field=gps]').html(this.longitud + ' , ' + this.latitud);
			})
		} else {
			toastr.error('El contrato no existe o no está asignado a tu cuenta.', 'Intenta de nuevo');
		}
		loader.hide();
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer la petición del código.', 'Intenta de nuevo');2439812
		loader.hide();
	});
}

</script>

{% include 'footer.html' %}