{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">
	<div class="row">
		<h1>Levantamiento en campo - Cuadrilla {{ cuadrilla }}</h1>
		<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
					<input type="text" name="contrato" class="form-control" placeholder="Contrato...">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" onclick="buscarContrato()">Buscar</button>
					</span>
				</div>
			</div>
			<div class="col-md-6 proceso">
				<button type="button" class="btn btn-success"><i class="fa fa-play" aria-hidden="true" onclick="cambiarEstatus(3);"> <span>Iniciar</span></i></button>
				<button type="button" class="btn btn-primary"><i class="fa fa-stop" aria-hidden="true" onclick="cambiarEstatus(5);"> <span>Terminar</span></i></button>
				<button type="button" class="btn btn-danger"><i class="fa fa-ban" aria-hidden="true" onclick="cambiarEstatus(4);"> <span>No ejecutado</span></i></button>
				<button type="button" class="btn btn-info"><i class="fa fa-map-pin " aria-hidden="true" onclick="tagUbicacion()"> <span>Marcar GPS</span></i></button>
			</div>
		</div>
	</div>

	<div class="row">
		<h4>Datos del contrato</h4>
		<div class="row">
			<div class="col-lg-6">
				<label>Propiertario: <span data-field="propietario"></span></label>
			</div>
			<div class="col-lg-6">
				<label>Usuario: <span data-field="usuario"></span></label>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<label>Suministro: <span data-field="suministro"></span></label>
			</div>
			<div class="col-lg-4">
				<label>numTomas: <span data-field="numTomas"></span></label>
			</div>
			<div class="col-lg-4">
				<label>GPS: <span data-field="gps"></span></label>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<label>Direccion: <span data-field="direccion"></span></label>
			</div>
		</div>
		<div class="row">
			<h4>Medidor</h4>
			<div class="col-lg-6">
				<label>N/S: <div class="input-group"><input type="text" name="serieMedidor" class="form-control" aria-describedby="sizing-addon2" placeholder="# Serie">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" onclick="guardarCampo(this)">Guardar</button>
					</span></div></label>
			</div>
			<div class="col-lg-6">
				<label>Telemetría: <div class="input-group"><input type="text" name="telemetriaMedidor" class="form-control" aria-describedby="sizing-addon2" placeholder="Telemetría">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" onclick="guardarCampo(this)">Guardar</button>
					</span></div></label>
			</div>
		</div>
	</div>

	<div class="row imagenes">
		<h4>Cargar imágenes del levantamiento</h4>
		<div class="row">
			<div class="col-lg-4">
				<span class="btn btn-success fileinput-button">
				<input id="fileupload" type="file" name="files[]" multiple>
				<span style="top: -25px; position: relative;">Seleccionar Fotos...
				<!-- The file input field used as target for the file upload widget -->
				</span>
				</span>
				<br>
				<br>
				<!-- The global progress bar -->
				<div id="progress" class="progress">
				<div class="progress-bar progress-bar-success"></div>
				</div>
				<!-- The container for the uploaded files -->
				<div id="files" class="files"></div>
			</div>
		</div>
	</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="https://blueimp.github.io/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="https://blueimp.github.io/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="https://blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload.js"></script>

<script type="text/javascript">
$(function() {
	$('.imagenes').hide();
	$('.proceso').hide();
});

function buscarContrato() {
	loader.show();
	$('[data-field=propietario]').html('');
	$('[data-field=usuario]').html('');
	$('[data-field=suministro]').html('');
	$('[data-field=numTomas]').html('');
	$('[data-field=direccion]').html('');
	$('[data-field=gps]').html('');
	$('[name=serieMedidor]').val('');
	$('[name=telemetriaMedidor]').val('');
	sincco.consumirAPI('POST', BASE_URL + 'expedientes/index/apigetcontratoasignado', {contrato:$('[name=contrato]').val(), cuadrilla: {{ cuadrilla }}})
	.done(function(data) {
		if (data.data.length) {
			$('.proceso .btn-success').show();
			$('.proceso .btn-primary').show();
			$('.proceso .btn-danger').show();
			$('.imagenes').show();
			if (data.data[0].estatusId < 2) {
				$('.proceso .btn-primary').hide();
				$('.proceso .btn-danger').hide();
				$('.imagenes').hide();
			}
			if (data.data[0].estatusId == 2) {
				$('.proceso .btn-primary').hide();
				$('.proceso .btn-danger').hide();
			}
			if (data.data[0].estatusId == 3) {
				$('.proceso .btn-success').hide();
				$('.proceso .btn-danger').hide();
			}
			if (data.data[0].estatusId > 3) {
				$('.proceso .btn-success').hide();
				$('.proceso .btn-primary').hide();
				$('.proceso .btn-danger').hide();
				$('.imagenes').hide();
			}
			$('.proceso').show();

			var url = BASE_URL + 'gestion/levantamiento/apiupload/contrato/' + $('[name=contrato]').val();
			$('#fileupload').fileupload({
			url: url,
			dataType: 'json',
			done: function (e, data) {
			    $.each(data.result.files, function (index, file) {
			        $('<p/>').text(file.name).appendTo('#files');
			    });
			},
			progressall: function (e, data) {
			    var progress = parseInt(data.loaded / data.total * 100, 10);
			    $('#progress .progress-bar').css(
			        'width',
			        progress + '%'
			    );
			}
			});

			$(data.data).each(function(){
				$('[data-field=propietario]').html(this.propietario);
				$('[data-field=usuario]').html(this.usuario);
				$('[data-field=suministro]').html(this.suministro);
				$('[data-field=numTomas]').html(this.numTomas);
				$('[data-field=direccion]').html(this.via + ' ' + this.calle + ' ' + this.numOficial + ', ' + this.colonia + ' ' + this.municipio);
				$('[data-field=gps]').html(this.longitud + ' , ' + this.latitud);
				$('[name=serieMedidor]').val(this.serieMedidor);
				$('[name=telemetriaMedidor]').val(this.telemetriaMedidor);
			})
		} else {
			toastr.error('El contrato no existe o no está asignado a tu cuadrilla.', 'Intenta de nuevo');
		}
		loader.hide();
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer la petición del código.', 'Intenta de nuevo');
		loader.hide();
	});
}

function cambiarEstatus(estatus) {
	sincco.consumirAPI('POST', BASE_URL + 'expedientes/index/apisetestatus', {contrato:$('[name=contrato]').val(), estatus: estatus})
	.done(function(data) {
		if (estatus == 3) {
			$('.proceso .btn-success').hide();
			$('.proceso .btn-danger').hide();
			$('.proceso .btn-primary').show();
			$('.imagenes').show();

		}
		if (estatus == 4) {
			$('.proceso .btn-success').hide();
			$('.proceso .btn-danger').hide();
			$('.proceso .btn-primary').hide();
			$('.imagenes').hide();
		}
		if (estatus == 5) {
			$('.proceso .btn-success').hide();
			$('.proceso .btn-danger').hide();
			$('.proceso .btn-primary').hide();
			$('.imagenes').hide();
		}
		if (data.respuesta) {
			toastr.success('Estatus actualizado.', 'Hecho');
		}
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer la petición del código.', 'Intenta de nuevo');
		loader.hide();
	});
}

function tagUbicacion() {
	if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        toastr.error('Este navegador no soporta la geolocalización.', 'Error');
    }
}

function showPosition(position) {
	loader.show();
    sincco.consumirAPI('POST', BASE_URL + 'expedientes/index/apigps', {contrato:$('[name=contrato]').val(), longitud: position.coords.longitude, latitud: position.coords.latitude })
	.done(function(data) {
    	$('[data-field=gps]').html(position.coords.longitude + ' , ' + position.coords.latitude); 
		toastr.success('Ubicación actualizada.', 'Hecho');
	    loader.hide();
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer la petición.', 'Intenta de nuevo');
		loader.hide();
	});

}

function guardarCampo(input) {
	loader.show();
	var elemento = $(input).parent().parent().children('input');
    sincco.consumirAPI('POST', BASE_URL + 'expedientes/index/apicampo', {contrato:$('[name=contrato]').val(), campo:$(elemento).attr('name'), valor:$(elemento).val() })
	.done(function(data) {
		toastr.success('Campo actualizado.', 'Hecho');
	    loader.hide();
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer la petición.', 'Intenta de nuevo');
		loader.hide();
	});
}
</script>

{% include 'footer.html' %}