{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">
	<div class="row">
		<h1>Primer revisión</h1>
		<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
					<input type="text" name="contrato" class="form-control" placeholder="Contrato...">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" onclick="buscarContrato();">Buscar</button>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row rowContrato">
			<!--<div class="col-xs-4"><h4>Estatus: <span data-field="status"></span></h4></div>
			<div class="col-xs-4"><h4>Observaciones: <span data-field="anexo"></span></h4></div>
			<div class="col-xs-4"><h4>Fecha: <span data-field="fechaEstatus"></span></h4></div>-->
		<div class="row">
			<h4>Flujo operativo</h4>
			<ul class="list-group rowLogs"></ul>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<label>Contrato: <span data-field="contrato"></span></label>
			</div>
			<div class="col-xs-4">
				<label>Propiertario: <span data-field="propietario"></span></label>
			</div>
			<div class="col-xs-4">
				<label>Usuario: <span data-field="usuario"></span></label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<label>Suministro: <span data-field="suministro"></span></label>
			</div>
			<div class="col-xs-3">
				<label>numTomas: <span data-field="numTomas"></span></label>
			</div>
			<div class="col-xs-3">
				<label>Giro: <span data-field="giro"></span></label>
			</div>
			<div class="col-xs-3">
				<label>GPS: <span data-field="gps"></span></label>
			</div>
		</div>
		<div class="row">
                        <div class="col-xs-4">
                                <label>Diametro Conexión: <span data-field="DIAMETRO_CONEXION"></span></label>
                        </div>
                        <div class="col-xs-4">
                                <label>Diametro Toma: <span data-field="diametro_toma"></span></label>
                        </div>
                        <div class="col-xs-4">
                                <label>Diametro Instalado: <span data-field="cobro"></span></label>
                        </div>
                </div>
		<div class="row">
			<div class="col-lg-12">
				<label>Direccion: <span data-field="direccion"></span></label>
			</div>
		</div>
		<div class="row">
			<h4>Medidor Retirado</h4>
			<div class="col-xs-4">
				<label>Marca: <span data-field="marca_act"></span></label>
			</div>
			<div class="col-xs-4">
				<label>Serie: <span data-field="num_apa"></span></label>
			</div>
			<div class="col-xs-4">
				<label>Lectura Final: 
				<div class="input-group">
				<input type="text" name="LECT_RETIRO" class="form-control input-sm" aria-describedby="sizing-addon2" placeholder="Lectura">
				<span class="input-group-btn">
					<button class="btn btn-default btn-sm" type="button" onclick="guardarCampo(this)">Guardar</button>
				</span>
				</div>
				</label>
			</div>
		</div>
		<div class="row">
			<h4>Medidor Instalado</h4>
			<div class="col-xs-3">
				<label>N/S: 
				<div class="input-group">
				<input type="text" name="serieMedidor" class="form-control input-sm" aria-describedby="sizing-addon2" placeholder="# Serie">
				<span class="input-group-btn">
					<button class="btn btn-default btn-sm" type="button" onclick="guardarCampo(this)">Guardar</button>
				</span>
				</div>
				</label>
			</div>
			<div class="col-xs-3">
				<label>Telemetría: 
				<div class="input-group">
				<input type="text" name="telemetriaMedidor" class="form-control input-sm" aria-describedby="sizing-addon2" placeholder="Telemetria">
				<span class="input-group-btn">
					<button class="btn btn-default btn-sm" type="button" onclick="guardarCampo(this)">Guardar</button>
				</span>
				</div>
				</label>
			</div>
			<div class="col-xs-3">
				<label>Modelo: 
				<div class="input-group">
				<input type="text" name="MARCA_INS" class="form-control input-sm" aria-describedby="sizing-addon2" placeholder="Itro" value="Itron">
				<span class="input-group-btn">
					<button class="btn btn-default btn-sm" type="button" onclick="guardarCampo(this)">Guardar</button>
				</span>
				</div>
				</label>
			</div>
			<div class="col-xs-3">
				<label>Lectura Incial: 
				<div class="input-group">
				<input type="text" name="LECT_INST" class="form-control input-sm" aria-describedby="sizing-addon2" placeholder="Lectura" value="0">
				<span class="input-group-btn">
					<button class="btn btn-default btn-sm" type="button" onclick="guardarCampo(this)">Guardar</button>
				</span>
				</div>
				</label>
			</div>
		</div>
	</div>


	<div class="row rowImagenesGuardadas" style="padding-bottom: 50px;"></div>

	<div class="row rowEstatus">
		<h4>Cambiar estatus</h4>
		<div class="col-xs-5">
			<label>a:</label>
			<select name="nuevo-estatus" class="form-control">
			{% for estatus in status %}
				<option value="{{ estatus.estatusId }}">{{ estatus.descripcion }}</option>
			{% endfor %}			
			</select>
		</div>
		<div class="col-xs-5">
			<label>en fecha:</label>
			<div class="form-group">
				<div class='input-group date' id='fecha-inicio'>
				<input class="form-control" type="text" name="fecha-estatus" id="fecha-estatus">
				<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
				</span>
				</div>
			</div>
		</div>
		<div class="col-xs-2">
			<button type="button" class="btn btn-success btn-xs" onclick="insertarEstatus($('[name=nuevo-estatus]').val(), $('[name=fecha-estatus]').val(), 'Corrección desde pantalla de supervisión');"><i class="fa fa-cloud" aria-hidden="true"> <span>Guardar Estatus</span></i></button>
		</div>
	</div>

	<div class="row rowProceso">
		<form name="imagenes">
		<h4>Editar imágenes</h4>
		<div class="row rowImagenes">
			<div class="col-xs-3 col-md-2">
				<div class="fileUpload btn btn-default">
					<i class="fa fa-camera"> <span>Fachada predio</span></i>
					<input type="file" class="upload" name="1fachada-predio" />
				</div>
			</div>
			<div class="col-xs-3 col-md-2">
				<div class="fileUpload btn btn-default">
					<i class="fa fa-camera"> <span>Cuadro Actual</span></i>
					<input type="file" class="upload" name="2cuadro-actual" />
				</div>
			</div>
			<div class="col-xs-3 col-md-2">
				<div class="fileUpload btn btn-default">
					<i class="fa fa-camera"> <span>Cuadro nuevo</span></i>
					<input type="file" class="upload" name="3cuadro-nuevo" />
				</div>
			</div>
			<div class="col-xs-3 col-md-2">
				<div class="fileUpload btn btn-default">
					<i class="fa fa-camera"> <span>Carátula medidor</span></i>
					<input type="file" class="upload" name="4caratula-medidor" />
				</div>
			</div>
			<div class="col-xs-3 col-md-2">
				<div class="fileUpload btn btn-default">
					<i class="fa fa-camera"> <span>Orden de trabajo</span></i>
					<input type="file" class="upload" name="5orden-trabajo" />
				</div>
			</div>
			<div class="col-xs-3 col-md-2">
				<div class="fileUpload btn btn-default">
					<i class="fa fa-camera"> <span>Medidor retirado</span></i>
					<input type="file" class="upload" name="6medidor-retirado" />
				</div>
			</div>
			<div class="col-xs-3 col-md-2">
				<button id="upload" type="button" class="btn btn-success"><i class="fa fa-cloud" aria-hidden="true"> <span>Subir imagenes</span></i></button>
			</div>
		</div>
		</form>

		<h4>Evaluar captura</h4>
		<div class="col-xs-6"><label>Observaciones :</label><textarea name="observaciones" class="form-control"></textarea></div>
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-6"><button class="btn btn-success" type="button" onclick="cambiarEstatus(7,$('[name=observaciones]').val());">Aprobado</button></div>
				<div class="col-xs-6"><button class="btn btn-danger" type="button" onclick="cambiarEstatus(8,$('[name=observaciones]').val());">No aprobado</button></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var uploadControl = new Resumable({ target: BASE_URL + 'images/upload', query: {}, maxChunkRetries: 2, maxFiles: 10, prioritizeFirstAndLastChunk: true, simultaneousUploads: 4 });
uploadControl.on('fileAdded', function (file, name, event) { file.uniqueIdentifier = $('[name=contrato]').val() + '-' + name; file.fileName = name + '.' + file.fileName.split('.').pop(); });
uploadControl.on('fileProgress', function (file) { var progress = Math.floor(file.progress() * 100); });
uploadControl.on('uploadStart', function () { loader.show(); });
uploadControl.on('complete', function () { loader.hide(); toastr.success('Imágenes guardadas.', 'Éxito'); });

$('.upload').change(function() {
	$(this).parent().removeClass('btn-default');
	$(this).parent().addClass('btn-info');
	uploadControl.addFile(this.files[0], this.name);
});

$(function() {
	$('#fecha-estatus').datetimepicker({
		format: 'YYYY-MM-DD',
		maxDate: moment()
	});
	$("[name=contrato]").keypress(function(event) {
		if(event.which == 13) buscarContrato();
	});

	$('.rowImagenesGuardadas').hide();
	$('.rowContrato').hide();
	$('.rowProceso').hide();
	$('.rowEstatus').hide();

	$('#upload').click(function() {
		uploadControl.upload();
		return;
		loader.show();
		var form_data = new FormData();
		$('.upload').each(function() {
			form_data.append('file[' + $(this).attr('name') + ']', $(this).prop('files')[0]);
		});
		$.ajax({
			url: BASE_URL + 'gestion/levantamiento/apiupload/contrato/' + $('[name=contrato]').val(),
			dataType: 'text',
			cache: false,
			contentType: false,
			processData: false,
			data: form_data,                         
			type: 'post',
			success: function(response){
				var api = JSON.parse(response);
				if (api.respuesta) {
					toastr.success('Imágenes guardadas.', 'Éxito');
				} else {
					toastr.error('Error al subir imagenes.', 'Intenta de nuevo');
				}
				loader.hide();
			}
		});
	});
});

function buscarContrato() {
	loader.show();
	$('.rowImagenesGuardadas').hide();
	$('.rowContrato').hide();
	$('.rowProceso').hide();
	$('.rowEstatus').hide();
	$('[data-field=contrato]').html('');
	$('[data-field=propietario]').html('');
	$('[data-field=usuario]').html('');
	$('[data-field=suministro]').html('');
	$('[data-field=numTomas]').html('');
	$('[data-field=direccion]').html('');
	$('[data-field=gps]').html('');
	$('[data-field=giro]').html('');
	$('[data-field=marca_act]').html('');
	$('[name=serieMedidor]').val('');
	$('[name=telemetriaMedidor]').val('');
	$('[data-field=status]').html('');
	$('[data-field=fechaEstatus]').html('');
	$('[data-field=anexo]').html('');
	$('[name=observaciones]').val('');
	$('[name=LECT_RETIRO]').val('');
	$('[name=LECT_INST]').val('');
	$('[name=MARCA_INS]').val('');
	$('[data-field=cobro]').html('');
	$('[data-field=diametro_toma]').html('');
	$('[data-field=num_apa]').html('');
        $('[data-field=DIAMETRO_CONEXION]').html('');
	sincco.consumirAPI('GET', BASE_URL + 'api/v2/expedientes/resumen?filters[contrato]=' + $('[name=contrato]').val())
	.done(function(data) {
		if (data.data.length) {
			$('.rowImagenesGuardadas').show();
			$('.rowContrato').show();
			$('.rowProceso').show();
			$('.rowEstatus').show();
			$(data.data).each(function(){
				buscarHistorial(this.contrato);
				$('[data-field=contrato]').html(this.contrato);
				$('[data-field=propietario]').html(this.propietario);
				$('[data-field=usuario]').html(this.usuario);
				$('[data-field=suministro]').html(this.suministro);
				$('[data-field=numTomas]').html(this.numTomas);
				$('[data-field=direccion]').html(this.via + ' ' + this.calle + ' ' + this.numOficial + ', ' + this.colonia + ' ' + this.municipio);
				$('[data-field=giro]').html(this.giro);
				$('[data-field=marca_act]').html(this.marca_act);
				$('[data-field=gps]').html(this.longitud + ' , ' + this.latitud);
				$('[name=serieMedidor]').val(this.serieMedidor);
				$('[name=telemetriaMedidor]').val(this.telemetriaMedidor);
				$('[data-field=status]').html(this.status);
				$('[data-field=fechaEstatus]').html(this.fechaEstatus);
				$('[data-field=anexo]').html(this.anexo);
				$('[name=LECT_RETIRO]').val(this.LECT_RETIRO);
				$('[name=LECT_INST]').val(this.LECT_INST);
				$('[name=MARCA_INS]').val(this.MARCA_INS);
				$('[data-field=cobro]').html(this.cobro);
				$('[data-field=num_apa]').html(this.num_apa);
				$('[data-field=diametro_toma]').html(this.diametro_toma);
			        $('[data-field=DIAMETRO_CONEXION]').html(this.DIAMETRO_CONEXION);
				sincco.consumirAPI('POST', BASE_URL + 'api/v2/expedientes/imagenes', {contrato:$('[name=contrato]').val()})
				.done(function(data) {
					$('.rowImagenesGuardadas').html('');
					$(data.data).each(function(){
						var prev = $('.rowImagenesGuardadas').html();
						prev += '<div class="col-xs-3"><div class="thumbnail"><a href="' + this.base64 + '" target="_blank"><img src="' + this.base64 + '" alt="' +  this.nombre + '" title="' +  this.nombre + '" style="width:100%; max-height:200px;"><div class="caption"><p>' + this.nombre + '</p></div></a></div>';
						$('.rowImagenesGuardadas').html(prev);
					});
				});
			})
		} else {
			toastr.error('El contrato no existe.', 'Intenta de nuevo');
		}
		loader.hide();
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer la petición del código.', 'Intenta de nuevo');
		loader.hide();
	});
}

function cambiarEstatus(estatus, motivo) {
	sincco.consumirAPI('POST', BASE_URL + 'expedientes/index/apisetestatus', {contrato:$('[name=contrato]').val(), estatus: estatus, motivo: motivo})
	.done(function(data) {
		if (data.respuesta) {
			$('.rowImagenesGuardadas').hide();
			$('.rowContrato').hide();
			$('[data-field=propietario]').html('');
			$('[data-field=usuario]').html('');
			$('[data-field=suministro]').html('');
			$('[data-field=numTomas]').html('');
			$('[data-field=direccion]').html('');
			$('[data-field=gps]').html('');
			$('[data-field=giro]').html('');
			$('[data-field=marca_act]').html('');
			$('[name=serieMedidor]').val('');
			$('[name=telemetriaMedidor]').html('');
			$('[data-field=status]').html('');
			$('[data-field=fechaEstatus]').html('');
			$('[data-field=anexo]').html('');
			toastr.success('Estatus actualizado.', 'Hecho');
			window.location.reload();
		}
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer la petición del código.', 'Intenta de nuevo');
		loader.hide();
	});
}

function insertarEstatus(estatus, fecha, motivo) {
	sincco.consumirAPI('POST', BASE_URL + 'expedientes/index/apisetestatusfecha', {contrato:$('[name=contrato]').val(), estatus: estatus, fecha: fecha, motivo: motivo})
	.done(function(data) {
		if (data.respuesta) {
			toastr.success('Estatus actualizado.', 'Hecho');
		}
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer la petición del código.', 'Intenta de nuevo');
		loader.hide();
	});
}

function guardarCampo(input) {
	loader.show();
	var elemento = $(input).parent().parent().children(':input');
    sincco.consumirAPI('POST', BASE_URL + 'expedientes/index/apicampo', {contrato:$('[name=contrato]').val(), campo:$(elemento).attr('name'), valor:$(elemento).val() })
	.done(function(data) {
		toastr.success('Campo actualizado.', 'Hecho');
	    loader.hide();
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer la petición.', 'Intenta de nuevo');
		loader.hide();
	});
}

function buscarHistorial(contrato) {
	sincco.consumirAPI('POST', BASE_URL + 'expedientes/index/apigetcontratohistorial', {contrato:contrato})
	.done(function(data) {
		$('.rowLogs').html('');
		$(data.data).each(function(){
			if (this.estatusId >= 5) { 
				var clase = 'list-group-item';
				if (this.estatusId == 5) { clase = 'list-group-item-info'; }
				if (this.estatusId == 6) { clase = 'list-group-item-info'; }
				if (this.estatusId == 7) { clase = 'list-group-item-info'; }
				if (this.estatusId == 8) { clase = 'list-group-item-info'; }
				if (this.estatusId == 9) { clase = 'list-group-item-success'; }
				if (this.estatusId == 10) { clase = 'list-group-item-danger'; }
				$('.rowLogs').html($('.rowLogs').html() + '<li class="list-group-item ' + clase + '"><span class="fecha">' + this.fecha + '</span> <span class="descripcion">' + this.descripcion + '</span><br><span class="anexo">' + this.anexo + '</span>'  + '</li>');
			}
		});
	});
}

</script>

