<?xml version="1.0"?>
<config><app><key>B94DA7B130AFB98AC94E3B25C17D17A5</key><name>aguas</name><company>Aguas</company><timezone>America/Chicago</timezone></app><front><url>http://aguas.net/</url></front><sesion><type>DEFAULT</type><name>aguas</name><ssl>0</ssl><inactivity>300</inactivity></sesion><dev><showerrors>1</showerrors><cache>0</cache></dev><bases><default><type>mysql</type><host>localhost</host><user>aguas</user><dbname>aguas</dbname><password>6mb2bCoEk4yW9IdV9bFoBHrLpG7L74sXxSJ1bgQh+fw=</password></default></bases><expedientes><path>expedientes/</path></expedientes></config>
